.fa-stack {
    text-align: center;
    color:grey;
  }
  
  .fa-stack .fa-caret-square-down {
    bottom: 2px !important;
  }
  
  .fa-stack .fa-caret-square-up {
    top: 2px !important;
  }

  .input-wrapper {
    position: relative;
    padding:2px;
    width: 100px;
    height:35px;
    margin:2px;
}

.input-icon {
    position: absolute;
    right:3%;
    bottom:0%; /* Keep icon in center of input, regardless of the input height */
}

.input-box {
    padding: 2px;
    height:35px;
    width:100px;
}
