.fa-stack {
    text-align: center;
    color:grey;
  }
  
  .fa-stack .fa-caret-square-down {
    bottom: 0.1em;
  }
  
  .fa-stack .fa-caret-square-up {
    top: 0.1em;
  }

  .input-wrapper {
    position: relative;
    padding:0.2em;
    width: fit-content;
    height:35px;
    margin:0.5em;
}

.input-icon {
    position: absolute;
    left: calc(75% - 0.3em);
    top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
}

.input-box {
    padding: 0.1em;
    height:35px;
    width:fit-content;
}

.instruction {
  margin: 1em;
}