  .input-wrapper {
    position: relative;
    padding:2px;
    width: 100px;
    height:35px;
    margin:2px;
}

.input-icon {
    position: absolute;
    right:3%;
    bottom: 40%;
}

.input-box {
    padding: 2px;
    height:35px;
    width:100px;
}

.up-arrow {
  bottom:0;
}

.down-arrow {
  top:0;
}
.up-arrow::after {
  content: '\25B2';
}

.down-arrow::after {
  content: '\25BC';
}
