<div class="instruction">
    <label>
        Number box created using Angular 7, CSS, Bootstrap and Font-Awesome have similar behavior on all browsers.
    </label>
    <app-number-box [min]="min0" [max]="max0" [step]="step0" (onValueChange)="onValueChange($event)"></app-number-box>
    <br/>
    <label>
        whereas, the conventional <code>&lt;html&gt;input type="number"&lt;/html&gt;</code>renders differently
        on browser and doesn't restrict the user to provide number only input.
    </label>
    <br/>
    <input type="number">
    <h5>Points to Note:</h5>
    <label>
        Please enters integers or floating point numbers.
      </label>
      <br/>
      <label>
      Default range is -1000 to 1000. Kindly provide the minimum and maximum values to specifiy the range
      </label>
      <br/>      
      <label>Minimum</label>
      <input type="text" OnlyNumber [(ngModel)]="min">
      <br/>
      <label>Maximum</label>
      <input type="text" OnlyNumber [(ngModel)]="max">
      <br/>
      <label>
        Default step is 1. Kindly provide the value to specifiy the step
        </label>
        <br/>
      <label>Step</label>
      <input type="text" OnlyNumber [(ngModel)]="step">
      <br/>
      <app-number-box [min]="min" [max]="max" [step]="step" (onValueChange)="onValueChange($event)"></app-number-box>
      <br/>
      <label>
          Result : {{value}}
      </label>
  </div>
 